/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/app/Http/Controllers/laravel6-94e18-firebase-adminsdk-op5mw-3ed8810bee.json
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
